<% if @post.user == current_user %>
  <%= link_to "Delete", post_path(@post),method: :delete,class:"pull-right btn btn-sm btn-danger" %>
  <%= link_to "Edit", edit_post_path(@post),class:"pull-right btn btn-sm btn-info" %>
<% end  %>

<h1><%= @post.title %></h1>

<p>
  <%= @post.description %>
</p>


<div class="iframe_video">
      <iframe width="560" height="349" src="<%= "http://www.youtube.com/embed/"+@post.youtube_link.split('=').last %>"></iframe>
</div>

<div id= "image">
  <%= image_tag @post.image.url(:large) %>
</div>
