<!DOCTYPE html>
<html>
<head>
  <title>Etch Brick</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "common/header" %>
<div class="container">
  <div class="flash_messages">
      <%= flash_tag(notice, "notice") %>
      <%= flash_tag(alert, "alert") %>
  </div>
    <%= yield %>
</div>

</body>
</html>
